version: '0.1'

services:
  postgres:
    image: postgres:14
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: langfuse
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  langfuse:
    image: langfuse/langfuse:latest
    container_name: langfuse
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://admin:admin@postgres:5432/langfuse
      NEXTAUTH_URL: http://localhost:3000
      NEXTAUTH_SECRET: mysecret 
      SALT: mysalt
    ports:
      - "3000:3000"
    restart: always
    networks:
      - app-network

  faps_llm_services:
    image: ai-faps-wiki-llm:0.1
    container_name: llm_services
    depends_on:
      - langfuse
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - app-network
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"

  chatbot_frontend:
    image: ai-faps-wiki-llm-fe:0.1
    container_name: chatbot_frontend
    depends_on:
      - faps_llm_services
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    networks:
      - app-network

  chain_visualization_api:
    image: sem-wiki-api-image
    container_name: chain_visualization_api

    restart: always
    networks:
      - app-network

  chain_visualization:
    image: sem-wiki-view-image
    container_name: chain_visualization_fe

    restart: always
    networks:
      - app-network
  
  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - C:/Users/localuser/.htpasswd:/etc/nginx/.htpasswd
    ports:
      - "5005:80"
    depends_on:
      - chatbot_frontend
      - faps_llm_services
      - chain_visualization
      - chain_visualization_api
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
